<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <title>ITD Canada Students</title>
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Admin Top</h1>
      <div class="list-group">
        <a href="/admin/comments" class="list-group-item">Comments</a>
        <a href="/admin/courses" class="list-group-item">Courses</a>
        <a href="/admin/lectures" class="list-group-item">Lectures</a>
        <a href="/admin/products" class="list-group-item">Products</a>
        <a href="/admin/users" class="list-group-item">Users</a>
      </div>
    </div>
  </body>
</html>
