<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ITD Canada Students</title>
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form action="/login" method="post" name="login">
        <div class="row">
          <div class="columns">
            <label>E-mail:</label>
            <input type="text" name="email" placeholder="Enter your email..." />
            <label>Password:</label>
            <input type="password" name="password" required="true" placeholder="Enter your password..." />
          </div>
        </div>
        <div class="row">
          <input type="submit" value="Login" />
        </div>
      </form>
      <a href="/signup">Sign up for an account.</a>
    </div>
  </body>
</html>
